[submodule "custom_nodes/ComfyUI-EulerDiscreteScheduler"]
	path = custom_nodes/ComfyUI-EulerDiscreteScheduler
	url = https://github.com/erosDiffusion/ComfyUI-EulerDiscreteScheduler.git
[submodule "custom_nodes/ComfyUI-KJNodes"]
	path = custom_nodes/ComfyUI-KJNodes
	url = https://github.com/kijai/ComfyUI-KJNodes.git
[submodule "custom_nodes/ComfyUI-Manager"]
	path = custom_nodes/ComfyUI-Manager
	url = https://github.com/Comfy-Org/ComfyUI-Manager.git
[submodule "custom_nodes/ComfyUI-VideoHelperSuite"]
	path = custom_nodes/ComfyUI-VideoHelperSuite
	url = https://github.com/Kosinkadink/ComfyUI-VideoHelperSuite.git
[submodule "custom_nodes/ComfyUI-WanVideoWrapper"]
	path = custom_nodes/ComfyUI-WanVideoWrapper
	url = https://github.com/kijai/ComfyUI-WanVideoWrapper.git
[submodule "custom_nodes/rgthree-comfy"]
	path = custom_nodes/rgthree-comfy
	url = https://github.com/rgthree/rgthree-comfy.git
[submodule "custom_nodes/ComfyUI-Custom-Scripts"]
	path = custom_nodes/ComfyUI-Custom-Scripts
	url = https://github.com/pythongosssss/ComfyUI-Custom-Scripts.git
[submodule "custom_nodes/ComfyUI-Easy-Use"]
	path = custom_nodes/ComfyUI-Easy-Use
	url = https://github.com/yolain/ComfyUI-Easy-Use.git
[submodule "custom_nodes/ComfyUI-Frame-Interpolation"]
	path = custom_nodes/ComfyUI-Frame-Interpolation
	url = https://github.com/Fannovel16/ComfyUI-Frame-Interpolation.git
[submodule "custom_nodes/ComfyUI_Comfyroll_CustomNodes"]
	path = custom_nodes/ComfyUI_Comfyroll_CustomNodes
	url = https://github.com/Suzie1/ComfyUI_Comfyroll_CustomNodes.git
[submodule "custom_nodes/comfyui_LLM_party"]
	path = custom_nodes/comfyui_LLM_party
	url = https://github.com/heshengtao/comfyui_LLM_party.git
